In [2]:
import pandas as pd


file_1h = '../data/XAU_1h_data.csv'
file_1d = '../data/XAU_1d_data.csv'

df_1h = pd.read_csv(file_1h)
df_1d = pd.read_csv(file_1d)


df_1h = pd.read_csv(file_1h, sep=';')
df_1d = pd.read_csv(file_1d, sep=';')


df_1h['Date'] = pd.to_datetime(df_1h['Date'], format="%Y.%m.%d %H:%M")
df_1d['Date'] = pd.to_datetime(df_1d['Date'], format="%Y.%m.%d %H:%M")


df_1h.set_index('Date', inplace=True)
df_1d.set_index('Date', inplace=True)


print("\n1h Data")
print(df_1h.info())
print(df_1h.head())

print("\n1d Data ")
print(df_1d.info())
print(df_1d.head())

1h Data
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 122028 entries, 2004-06-11 07:00:00 to 2025-06-06 06:00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Open    122028 non-null  float64
 1   High    122028 non-null  float64
 2   Low     122028 non-null  float64
 3   Close   122028 non-null  float64
 4   Volume  122028 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 5.6 MB
None
                      Open   High    Low  Close  Volume
Date
2004-06-11 07:00:00  384.0  384.3  383.3  383.8      44
2004-06-11 08:00:00  383.8  384.3  383.1  383.1      41
2004-06-11 09:00:00  383.1  384.1  382.8  383.1      55
2004-06-11 10:00:00  383.0  383.8  383.0  383.6      33
2004-06-11 11:00:00  383.6  383.8  383.5  383.6      23

1d Data
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5391 entries, 2004-06-11 to 2025-06-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5391 non-null   float64
 1   High    5391 non-null   float64
 2   Low     5391 non-null   float64
 3   Close   5391 non-null   float64
 4   Volume  5391 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 252.7 KB
None
             Open   High    Low  Close  Volume
Date
2004-06-11  384.0  384.8  382.8  384.1     272
2004-06-14  384.3  385.8  381.8  382.8    1902
2004-06-15  382.8  388.8  381.1  388.6    1951
2004-06-16  387.1  389.8  382.6  383.8    2014
2004-06-17  383.6  389.3  383.0  387.6    1568